div.contact-info {

    border-bottom: 1px solid #807d7d4b;
}

.contact-img {
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    margin-right: 2rem;
}

p.name {
    font-weight: bolder;
}

p.tel {
    color: #807d7d4b;
}

div.contact-filters {
    margin: auto 0;
}

div.tags {
    width: 5rem;
    height: 2rem;
    padding-top: 0.2rem;
    padding-left: 0.5rem;
    text-align: center;
    background-color: #1b5e20;
    color: #fff;
    border-radius: 50px;
}